.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  cursor: default;
  
}

/* -------------------------------------- */
/* homepagenavbar */
.homepagenavbar {
  margin-top: -40px;
  width: 30%;
  height: 500px;
  cursor: default;
}

/* -------------------------------------- */
/* homepagenavbarstyle */

.homepagenavbarstyle {
  color: white;
  background-color: #003c84;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  width: 100%;
  height: 15%;
  cursor: default;
  
}

/* -------------------------------------- */
/* acil_ulasim_resim */

.acil_ulasim_resim {
  margin-top: -545px;
  width: 100%;
  max-width: 140px;
  height: auto;
  margin-left: 170px;
  align-items: center;
  cursor: default;
}

/* -------------------------------------- */
/* ana_arter_resim */

.ana_arter_resim {
  margin-top: -105px;
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-right: 170px;
  cursor: default;
  position: absolute;
}

/* -------------------------------------- */
/* kararlar_resim*/

.kararlar_resim {
  margin-top: -90px;
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-right: 420px;
  cursor: default;
  position: absolute;
}

/* -------------------------------------- */
/* acil_ulasim_yollari_yazi  */

.acil_ulasim_yollari_yazi {
  color: white;
  font-weight: bold;
  text-transform:capitalize;
  font-size: 15px;
  position: absolute;
  margin-top: -15px;
  width: 100%;
  max-width: 200px;
  height: auto;
  cursor: pointer;
  margin-left: 18%;
}

/* -------------------------------------- */
/* anaarter_yollari_yazi */

.anaarter_yollari_yazi {
  color: white;
  font-weight: bold;
  text-transform:capitalize;
  font-size: 15px;
  position: absolute;
  margin-top: -15px;
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-right: 1%;
  cursor: pointer;
}
/* -------------------------------------- */
/* kararlar_yazi */

.kararlar_yazi {
  color: white;
  font-weight: bold;
  text-transform:capitalize;
  font-size: 15px;
  position: absolute;
  margin-top: -15px;
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-right: 17%;
  cursor: pointer;
}

/* -------------------------------------- */
/* telefon_uyumluluk */

@media only screen and (max-width: 1500px) 
{
  .container{
    visibility: hidden;
    position: absolute;
  }
}